
.title-container{
  background-color: #d9c5b2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #34312d;
}

.header-container{
  width: 50%;
}


.color-box{
  width: 250px;
  height: 250px;
  background-color: black;
}



.inputs-container{
 
  text-align: center;
  margin: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;

}

.break {
  flex-basis: 100%;
  height: 0;
}

.button{
  margin: 25px;
}
