
.title-container{
  background-color: #14110F;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #d9c5b2;
}


.header-container{
  width: 40%;
}

.box-container{
  width: 40%;
  margin: 35px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  position: sticky;
}


.color-box{
  border-radius: 25px;
  width: 250px;
  height: 250px;
  background-color: white;
}



.inputs-and-palette-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.pattern-text{
  font-size: x-large;
  font-weight: bold;
}

.element-label{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  
}
.color-label{
  align-self: center;
  font-size: large;
  font-weight: bold;
}

.inputs-container{
  width: 50%;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;

}
.palette-container{
  margin-top: 10px;
  margin-right: 5%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.palette-elements-container{
  border:5px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.palette-element{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.button{
  margin: 25px;
  
}


.button-56 {
  margin: 25px;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

@media (max-width: 480px){
  .title-container{
   flex-direction: column;
  }
}

@media(max-width: 768px){
  .palette-element{
    flex-direction: column;
    align-items: center;
  }
  
  .button-56{
    font-size: 12px;
    line-height: 12px;
    height: 60px;
  }
  .button-56:after{
    height: 60px;
  }
  .title-container{
    position: relative;
    
  }
  .box-container{
    
    position: sticky;
  }
}